/* 
Theme: Dental Plus Responsive HTML Template
Author: Hafeza Mony
Live URL: 

Primary Color: #f69165
Secondary Color: #00cce1

Font Style: Roboto
*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Global CSS */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,ul{
    margin: 0;
    padding: 0;
}
p{
    color: #636363;
}
.title{
    margin-bottom: 3%;
    text-align: center;
}
.title h2{	
	font-weight: 600;	
	margin-bottom: 15px;
}
.title p{	
	margin-top: 18px;
	padding: 0 23%;
    font-weight: 500;
    font-size: 18px;
}


/* Header Section Start */
.header-section{
    padding: 2% 0 1%;
}
.icon{
    display: flex;
    justify-content: right;
    gap: 50px;
}
.header-content{
    display: flex;
}
.header-content .header-icon{
    color: #f69165;
    line-height: 50px;
    display: flex;
    align-items: center;
}
.header-icon .fa-solid{
    width: 35px;
    height: 35px;
    font-size: 28px;
}
.header-icon .fa-envelope{
    font-size: 35px;
    width: 50px;
    height: 50px;
}
.header-content h4{
    font-size: 18px;
    font-weight: 600;
}
.header-content p{
    font-size: 15px;
}


/* Navbar Section Start */
.navbar-section{
    background-color: #00cce1;
}
.navbar{
    padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link{
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 20px;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    padding: 13px 15px !important;
    transition: all .4s ease-in-out;
}
.nav-link:hover{
    color: #fff;
}
.nav-link:hover{
    background: #f69165;
    color: #fff; 
}

.appoinment{
    color: #fff;
    font-size: 18px;
    min-height: 55px;
    display: flex;
    background: #f69165;
    padding: 18px 45px;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    transition: all .4s ease-in-out;
}
.appoinment a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.appoinment:hover{
    background: #fff;
    border-top: #f69165;
    border-bottom: #f69165;
}
.appoinment:hover .btn-appoinment, 
.appoinment:hover .fa-solid{
    color: #f69165;
    transition: all .4s ease-in-out;
}
/* Navbar Section End */

/* Banner Section Start */
.banner-section{
    background-image: url(../images/banner_bg.png);
    background: no-repeat center top cover;
    min-height: 80vh;
}
.height{
    position: relative;
    min-height: 80vh;
    align-items: center;
}
.banner-section h3{
    background: #00cce1;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.banner-section h1{
    background: #f69165;
    color: #fff;
    padding: 5px 10px;
    width: fit-content;
}
.banner-section p{
    color: #636363;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 0px;
}
.banner-section ul li{
    list-style: none;
    display: inline-block;
    margin-top: 15px;
}
.banner-section ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
}
.banner-section .learn{
    background: #f69165;
    transition: all .4s ease-in-out;
}
.banner-section .learn:hover{
    background: #00cce1;
}
.banner-section .book{
    background: #00cce1;
    transition: all .4s ease-in-out;
}
.banner-section .book:hover{
    background: #f69165;
}

.banner-section img{
    position: absolute;
    bottom: 0;
    width: 50%;
}
.banner-carousel .owl-item img{
    position: absolute;
    display: block;
    width: 48%;
}
.banner-carousel .owl-dots{
    position: absolute;
}
.banner-carousel .owl-nav .owl-prev{
    position: absolute;
    left: -135px;
    top: 50%;
    transform: translateY(-50%);
}
.banner-carousel .owl-nav .owl-prev span{
    display: block;
    height: 35px;
    width: 35px;
    background: #f69165;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}
.banner-carousel .owl-nav .owl-next{
    position: absolute;
    right: -135px;
    top: 50%;
    transform: translateY(-50%);
}
.banner-carousel .owl-nav .owl-next span{
    display: block;
    height: 35px;
    width: 35px;
    background: #00cce1;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}
.banner-carousel .owl-dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.banner-carousel .owl-dots .owl-dot span{
    display: block;
    height: 10px;
    width: 10px;
    background: #e0e1e3;
    border-radius: 50%;
    margin: 3px;
}
.banner-carousel .owl-dots .active span{
    background: #f69165;
}

/* Banner Section End */


/* About Section Start */
.about-section{
    position: relative;
    padding: 4% 0 2%;
}
.about-img img{
    position: absolute;
    width: 40%;
    bottom: 0px;
    left: 2%;
}
.about-heading{
    margin-bottom: 5%;
}
.about-heading h2{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}
.about-heading p{
    font-size: 20px;
    font-weight: 400;
}
.about-info{
    margin-bottom: 4%;
}
.tooth{
    width: 35px;
    height: 55px;
}
.about-info h5{
    color: #363636;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 7px;
}
.about-info p{
    font-size: 16px;
    font-weight: 500;
}
/* About Section End */


/* Team Section Start */
.team-section{
    background: #f9f9f9;
    padding: 5% 0 4%;
}
.doctor{
    position: relative;
    background: #fff;
    border-bottom: 4px solid #00cce1;
    margin-bottom: 25px;
    text-align: center;
    transition: all .4s ease-in-out;
}
.doctor-image{
    position: relative;
    overflow: hidden;
}
.doctor-image::before{
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    transition: all .4s ease-in-out;
}
.doctor:hover .doctor-image::before{
    top: 0;
}
.doctor:hover{
    border-bottom: 4px solid #f69165;
}
.doctor-image img{
    width: 100%;
}
.doctor h5{
    font-weight: 600;
    margin: 22px 0 3px;
    transition: all .4s ease-in-out;
}
.doctor:hover h5{
    color: #f69165;
}
.doctor p{
    margin-bottom: 20px;
}
.team-section .social-info{

}
.team-section .social-info ul li{
    list-style: none;
    display: inline-block;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all .4s ease-in-out;
}
.team-section .social-info ul li a{
    list-style: none;
    line-height: 30px;
    color: #fff;
}
.team-section .social-info ul li:hover{
	background: #f69165;
	border: 2px solid #f69165;
}
.team-section .social-info{
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -100%);
    transition: all 0.4s ease-in-out;
}
.doctor:hover .social-info{
    opacity: 1;
    top: 50%;
}
/* Team Section End */


/* Service Section Start */
.service-section{
    padding: 5% 0 4%;
}
.service{
    border: 5px solid #ebebeb;
    margin-bottom: 25px;
    padding: 25px 30px 10px;
    transition: all .4s ease-in-out;
}
.service-head{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.service-image{
    width: 35px;
    height: 45px;
}
.service-head h5{
    font-size: 22px;
    font-weight: 600;
    transition: all .4s ease-in-out;
}
.service p{
    font-size: 18px;
    font-weight: 500;
}
.service .read-more{
    font-weight: 700;
    transition: all .4s ease-in-out;
}
.service:hover{
    border: 5px solid #f69165;
}
.service:hover h5, 
.service:hover .read-more{
    color: #f69165;
}
/* Service Section End */


/* Pricing Section Start */
.pricing-section{
    background: #f9f9f9;
    padding: 5% 0 4%;
}
.price-table{
    border: 5px solid #fff;
    padding: 20px 0px 30px;
    text-align: center;
    transition: all .4s ease-in-out;
}
.price-table h3{
    color: #00cce1;
    font-size: 32px;
    font-weight: 600;
    transition: all .4s ease-in-out;
}
.price-table p{
    font-size: 17px;
    font-weight: 400;
}
.price{
    background: #fff;
    padding: 15px 0px 1px;
    transition: all 0.4s ease-in-out;
}
.price h2{
    color: #22d3e5;
    font-size: 42px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
}
.price p{
    color: #00cce1;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}
.price-info{
    padding: 25px 0 15px;
}
.price-info p{
    font-size: 18px;
    font-weight: 400;
}
.btn-signup{
    background: #00cce1;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0;
    padding: 10px 30px;
    transition: all 0.4s ease-in-out;
}
.price-table:hover{
    border: 5px solid #f69165;
}
.price-table:hover h3{
    color: #f69165;
}
.price-table:hover .price,
.price-table:hover .btn-signup{
    background-color: #f69165;
    color: #fff;
}
.price-table:hover .price h2,
.price-table:hover .price p{
    color: #fff;
}
/* Pricing Section End */


/* Client Section Start */
.client-section{
    position: relative;
    background: url(../images/footer-bg.png) no-repeat center;
    background-size: cover;
    padding: 5% 0;
    border-bottom: 4px solid #050505;
    color: #fff;
    z-index: 1;
}
.client-section::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.client-section p{
    color: #fff;
}

.owl-carousel .owl-item img {
    display: inblock;
    width: 15%;
}

.brand-carousel .owl-nav button.owl-prev {
    position: absolute;
    background: #f69165;
    left: 0;
}
.brand-carousel .owl-nav button.owl-next {
    position: absolute;
    background: #00cce1;
    right: 0;
}
.brand-carousel .owl-nav button.owl-prev,
.brand-carousel .owl-nav button.owl-next {
    color: #fff;
    padding: 0 7px !important;
    font-size: 35px;
    top: 50%;
    transform: translateY(-50%);
}


/* Client Section End */


/* Footer Section Start */
footer{
    background: url(../images/footer-bg2.png) no-repeat center;
    background-size: cover;
    padding: 5% 0 4%;
}
.footer-title{
    margin-bottom: 30px;
    width: 50%;
}
.footer-title h2{
    font-weight: 600;
    color: #fff;
}
footer p{
    margin-bottom: 0;
    font-size: 16px;
    color: #b4b4b4;
}
.contact{
    margin-top: 30px;
}
.footer-contact{
    display: flex;
    margin-bottom: 15px;
    gap: 30px !important;
}
.footer-icon{
    width: 22px;
    height: 50px;
}
.footer-icon .fa-solid,
.footer-icon .fa-regular{
    line-height: 50px;
    font-size: 30px;
    color: #00cce1;
}
.posts{
    margin-bottom: 25px;
}
.post .date{
    margin-top: 6px;
    color: #717171;
}
.post .date span{
    margin: 0 5px;
}
form{
    display: flex;
    padding: 30px 0 35px;
}
form .form-control{
    border-radius: 0;
    padding: 10px;
}
form input#email{
    background: transparent;
    border: 2px solid #252525;
    color: #b4b4b4;
}
form input::placeholder{
    color: #3d3d3d !important;
}
form .form-control:focus{
    outline: none;
    box-shadow: none;
}
form input.submit{
    background: #f69165;
    border: 2px solid #f69165;
    width: 40%;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-in-out;
}
form input.submit:hover{
    background: #00cce1;
    border: 2px solid #00cce1;
}
.social-contact{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.follow h4{
    font-weight: 600;
    color: #fff;
}
.social-media ul{
    display: flex;
    gap: 10px;
    margin-bottom: 0;
}
.social-media ul li{
    background: #323232;
    display: inline-block;
    list-style: none;
    width: 37px;
    height: 37px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.social-media ul li:hover{
    background: #f69165;
}
.social-media ul li a .fa-brands{
    line-height: 37px;
    color: #fff;
}

/* Bottom Footer Start */
.bottom-footer{
    background: #161616;
    padding: 2% 0 1.2%;
}
.bottom-footer p{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #777777;
}
.bottom-footer p a{
    color: #00cce1;
    transition: all .2s ease-in-out;
}
.bottom-footer p a:hover{
    color: #f69165;
}
/* Bottom Footer End */
/* Footer Section End */


/* Media CSS */
.desktop-hide{
    display: none;
}
